.bg-red {
    background-color: red;
  }
  #header {
    font-size: 24px;
  }
  ul > p {
    background-color: black;
    color: yellow;
  }
  h1 + p {
    font-style: italic;
  }
  h1 ~ p {
    font-weight: bold;
  }